body {
  background: linear-gradient(rgba(7, 6, 1, 0.21) 0 0),
    /* color y porcentajes de los circulos */ rgb(0, 25, 37); /* color del fondo */
  background-size: 60px 60px; /* tamaño del fondo */
  color: rgb(4, 211, 197);
  text-align: center;
}
.icono-gato {
  font-size: 7rem;
}
/* con estos margenes hago el responsive */
.tablero {
  margin-left: 35%;
  width: 750px;
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

/* tamaño, ancho de los botones y el pointer para que haga efecto el botón*/

button {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/*Hace el cambio del color del botón cuando señala*/
button:hover {
  background-color: rgb(179, 0, 198);
  color: rgb(0, 0, 0);
}
.primerJugador {
  width: 10px;
}

/*El texto se hará visible cuando hay un ganador*/
.ganar {
  visibility: hidden; /* oculto el mensaje de ganar */
}

.reset {
  background-color: rgb(223, 176, 199);
  border-radius: 10%;
  height: 40px;
  animation: cambio 2s infinite;
}



@keyframes cambio {
  0%{
    transform: translateY(10px);
    background-color: rgb(0, 213, 255);
  }
  50%{
    transform: translateY(-10px);
    background-color: green;
  }
  100%{
    transform: translateY(10px);
    background-color: blue;

  }
}